:root {
  
    --color-white: #ffffff;
    --color-black: #141516;
    --color-grey-dark: #343a40;
    --color-grey-light: #cfd8dc;
   
    --color-cyan-light: #e0ffff;
    --color-white-ghost: #f8f8ff;
    --color-red: #e74c3c;
    --bg-black-light: rgba(0, 0, 0, 0.877);
    --border-input: #ced4da;
    --box-shadow-light: 0 0 20px rgb(255 250 255 / 10%);
}